<h1>New article</h2>
<%= form_with model: @article do |form| %>
  <%= form.label :title %><br>
  <%= form.text_field :title %><br>
  <h2>Write your content here</h2><br>
  <%= form.text_area(:content, size: '150x10') %>
  <%= form.hidden_field :user_id, value: params[:user_id], min: 1, required: true, readonly: true %>
  <%= form.submit %>
<% end %>
